{% load static %}

<footer class="apps-footer">
    <div class="footer-top">
        <div class="container">
            <div class="apps-short-info">
                <a href="index.html#">
{#                    <img alt="" src="/static/img/app_land.png">#}
                </a>
            </div>
            <ul class="list-inline list-unstyled footer-social-links">
                <li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="index.html#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>WhiteBox Machine Learning, ESPJ. © 2019</p>
        </div>
    </div>
</footer>