{% load static %}

<footer class="apps-footer">
  <div class="footer-top">
    <div class="container">
      <ul class="list-inline list-unstyled footer-social-links">
        <li><a href="https://twitter.com/whiteboxml" target="_blank"><i
            class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/company/whiteboxml" target="_blank"><i
            class="fa fa-linkedin"></i></a></li>
        <li><a href="https://github.com/WhiteBoxML" target="_blank"><i
            class="fa fa-github"></i></a></li>
        <li><a href="mailto:contact@whiteboxml.com" target="_blank"><i
            class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>WhiteBox Machine Learning, ESPJ. © <span id="copyright-year"><script>document.getElementById('copyright-year').innerHTML = new Date().getFullYear()</script></span></p>
    </div>
  </div>
</footer>