<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="WhiteBoxML: AI Experts">
<meta name="author" content="WhiteBoxML">
<meta name="keywords" content="ML, AI, WhiteBox, Machine Learning, Artificial Intelligence, Data Science">

{# Opengraph metadata #}

<meta property="og:title" content="WhiteBoxML"/>
<meta property="og:description" content="WhiteBoxML: AI Experts"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://whiteboxml.com"/>
<meta property="og:image" content="https://whiteboxml.com/static/img/og.png"/>

{# Twittercards metadata #}

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="https://whiteboxml.com">
<meta name="twitter:title" content="WhiteBoxML">
<meta name="twitter:description" content="WhiteBoxML: AI Experts"/>
<meta name="twitter:image" content="https://whiteboxml.com/static/img/og.png">
<meta name="twitter:site" content="@WhiteBoxML">
<meta name="twitter:creator" content="@WhiteBoxML">
