{% load static %}

<nav class="navbar navbar-default navbar-fixed-top appsLand-navbar navBar__style-2">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <span class="menu-toggle">
                <i class="chart"></i>
                <i class="chart"></i>
                <i class="chart"></i>
            </span>
            <a class="navbar-brand" href="{% url 'landing' %}#">
{#                <img alt="" src="/static/img/app_land.png">#}
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="app-links" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right appsLand-links">
                <li class="visible-xs-block text-center mobile-size-logo">
                    <a href="{% url 'landing' %}#">
                        <img alt="" src="/static/img/app_land.png">
                    </a>
                </li>
                <li><a href="{% url 'landing' %}#team">Team</a></li>
                <li><a href="{% url 'landing' %}#contact">Contact</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>