{% extends 'base.html' %}

{% load static %}

{% block content %}

  <!-- Main Content
  ========================================-->
  <main class="entry-main">

    <!-- Contact Section
    ========================================-->
    <section class="contact contact__style-2 section-bg-img" id="contact">
      <div class="app-overlay">
        <div class="container">
          <div class="section-title style-gradient white-color wow fadeInUp" data-wow-duration="1s"
               data-wow-delay="0s">
            <h2>
              Contact Us
            </h2>
            <span><span></span></span>
          </div>
          <div class="contact-form wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
            <div class="row">
              <div class="col-md-4 col-lg-push-8 col-md-push-8">
                <div class="contact-info">
                  <div class="info-box">
                    <div class="icon-box">
                      <i class="fa fa-phone white-color"></i>
                    </div>
                    <h5>Phone Number</h5>
                    <p>
                      +34 691 101 949<br>
                      +34 637 539 220
                    </p>
                  </div>
                  <div class="info-box">
                    <div class="icon-box">
                      <i class="fa fa-envelope-o white-color"></i>
                    </div>
                    <h5>Email Address</h5>
                    <p>
                      info@whiteboxml.com
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-8 col-lg-pull-4 col-md-pull-4">
                <form method="post" id="contact_form">
                  {% csrf_token %}

                  <div class="form-group">
                    <input type="text" name="full_name" class="form-control" placeholder="Full Name"
                           data-nameValidation>
                  </div>
                  <div class="form-group">
                    <input type="text" name="email" class="form-control" placeholder="Email"
                           data-emailValidation>
                  </div>
                  <div class="form-group">
                  <textarea name="message" class="form-control" placeholder="Your Message"
                            data-messageValidation></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" name="submit_contact_form"
                            class="appsLand-btn appsLand-btn-gradient btn-inverse btn"><span><i
                        class="fa fa-send"></i> Send Message</span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}
