{% extends 'base.html' %}

{% load static %}

{% block content %}

  <!-- Main Content
  ========================================-->
  <main class="entry-main">
    <section class="team__style-2" id="team">
      <div class="container">
        <div class="section-title style-gradient wow fadeInUp mt-100" data-wow-duration="1s"
             data-wow-delay="0s">
          <h2>
            Data for Equity
          </h2>
          <span><span></span></span>
        </div>
        <div class="row">
          <div class="typeform-widget" data-url="https://info181496.typeform.com/to/oIeBqT"
               style="width: 100%; height: 500px;"></div>
          <script> (function () {
              var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName,
                  id = "typef_orm", b = "https://embed.typeform.com/";
              if (!gi.call(d, id)) {
                  js = ce.call(d, "script");
                  js.id = id;
                  js.src = b + "embed.js";
                  q = gt.call(d, "script")[0];
                  q.parentNode.insertBefore(js, q)
              }
          })() </script>
          <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by
            <a href="https://admin.typeform.com/signup?utm_campaign=oIeBqT&utm_source=typeform.com-01E46F9VHC5Q5TT8V59J6NDV0M-free&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=ES"
               style="color: #999" target="_blank">Typeform</a></div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}
