{% extends 'base.html' %}

{% load static %}

{% block content %}
  <!-- Header
  ========================================-->
  <header class="active-navbar appsLand-header bg-video" id="home">

    <div class="app-overlay">
      <div class="the-video">
        <video src="/static/video/brain.mp4" loop muted autoplay></video>
      </div>
      <div class="header-content">
        <div class="container">
          <div class="row">
            <div class="text-center col-sm-10 col-sm-offset-1">
              <div class="site-intro-content">
                <img id="logo-main" alt="WhiteBox Machine Learning logo" src="/static/img/logo/white.svg">
                <p class="lead wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                  We craft AI systems for both enterprises and startups
                </p>
                <ul class="list-inline list-unstyled header-links">
                  <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.75s">
                    <a href="{% url 'contact' %}"
                       class="appsLand-btn appsLand-btn-gradient btn-inverse scrollLink">
                      <span><i class="glyphicon glyphicon-phone-alt"></i> Contact Us</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content
  ========================================-->
  <main class="entry-main">

    <!-- Values Section
    ========================================-->
    <section class="mini-feature__style-2" id="values">
      <div class="container">
        <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s"
             data-wow-delay="0s">
          <h2>
            Values
          </h2>
          <span><span></span></span>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
            <div class="mini-feature-box">
              <div class="icon-box">
                <img alt="" src="/static/img/flat-icons/transparent.svg">
                <img alt="" src="/static/img/flat-icons/transparent.svg">
              </div>
              <div class="data-box">
                <h3>Transparency</h3>
                <p>
                  We do not design black boxes to charge you expensive maintenance fees. We will make
                  sure
                  that you understand our solutions and get the know-how you need to maintain and
                  improve
                  yourself, with or without us.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
            <div class="mini-feature-box">
              <div class="icon-box">
                <img alt="" src="/static/img/flat-icons/simple.svg">
                <img alt="" src="/static/img/flat-icons/simple.svg">
              </div>
              <div class="data-box">
                <h3>Simplicity</h3>
                <p>
                  Simple is better. AI is full of over-engineered and obscure solutions that slow down
                  the adoption of artificial intelligence. Keeping things simple is hard and require
                  actual knowledge and previous thinking, research and planning.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="mini-feature-box">
              <div class="icon-box">
                <img alt="" src="/static/img/flat-icons/quality.svg">
                <img alt="" src="/static/img/flat-icons/quality.svg">
              </div>
              <div class="data-box">
                <h3>Quality</h3>
                <p>
                  We will never compromise quality. A single carefully made solution which
                  successfully
                  add value is better than a thousand botched, half-made systems.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Approach Section
    ========================================-->
    <section class="features" id="approach">
      <div class="container">
        <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s"
             data-wow-delay="0s">
          <h2>
            Approach
          </h2>
          <span><span></span></span>
        </div>
        <div class="appInfo-container">
          <div class="row appInfo-row">
            <div class="col-md-6 col-md-offset-1 col-sm-7">
              <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                <h2>1. AI planning and strategy</h2>
                <p>
                  Get the right assessment before jumping into the AI race. Avoid common mistakes
                  which will cause your
                  AI strategy to derail and underdeliver. Let us help you to make things right from
                  the beginning, from
                  Data Engineering to Machine Learning deployment.
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-5 hidden-xs">
              <div class="img-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                <img alt="" src="/static/img/flat-icons/planning.svg" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="row appInfo-row">
            <div class="col-md-4 col-md-offset-1 col-sm-5 hidden-xs">
              <div class="img-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <img alt="Data Engineering" src="/static/img/flat-icons/data_engineering.svg"
                     class="img-responsive">
              </div>
            </div>
            <div class="col-md-6 col-sm-7">
              <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                <h2>2. Data Engineering</h2>
                <p>
                  Lots of Data? We are used to work with Big Data workloads using frameworks like
                  Hadoop or Spark, and
                  successfully built and deployed AI at scale.
                </p>
              </div>
            </div>
          </div>
          <div class="row appInfo-row">
            <div class="col-md-6 col-md-offset-1 col-sm-7">
              <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                <h2>3. AI model designing</h2>
                <p>
                  We are excellent modelers with business experience in many sectors and real world
                  use cases using a
                  broad range of technologies, from classic Machine Learning to Deep Learning. And the
                  best of all, we
                  have principles crystal clear independently of technology.
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-5 hidden-xs">
              <div class="img-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                <img alt="Machine Learning" src="/static/img/flat-icons/machine_learning.svg"
                     class="img-responsive">
              </div>
            </div>
          </div>
          <div class="row appInfo-row">
            <div class="col-md-4 col-md-offset-1 col-sm-5 hidden-xs">
              <div class="img-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <img alt="Deployment" src="/static/img/flat-icons/deployment.svg"
                     class="img-responsive">
              </div>
            </div>
            <div class="col-md-6 col-sm-7">
              <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                <h2>4. AI deployment</h2>
                <p>
                  Most companies fail while deploying their models from prototype to production. Did
                  your company
                  spend a fortune hiring a horde of PhDs and only got a bunch of serialized R models
                  with no actual
                  value in return? We can help you.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Data for Equity
      ========================================-->
    <section class="mini-feature__style-2" id="data-for-equity">
      <div class="container">
        <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s"
             data-wow-delay="0s">
          <h2>
            Data for Equity
          </h2>
          <span><span></span></span>
        </div>
        <div class="appInfo-container">
          <div class="row appInfo-row">
            <div class="col-md-10 col-md-offset-1">
              <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                <p>
                  We offer Data services as equity investment in ideas and companies who need experienced Data
                  Scientists and Engineers to achieve their goals. It means we can work for you for a % of your company.
                  <br>
                  At this moment and depending on your company needs, we offer investment in Seed stage with tickets of:
                </p>
                <ul>
                  <li>25000€</li>
                  <li>50000€</li>
                </ul>
                <p>
                  Our work consist in developing Data solutions, advising on AI adoption and more. We also work for top
                  companies worldwide as independent consultants.
                  <br>
                  In case you are interested:
                </p>
                <div class="row">
                  <div class="text-center mt-25">
                    <a href="{% url 'data_for_equity' %}"
                       class="appsLand-btn appsLand-btn-gradient btn-inverse scrollLink">
                      <span>Apply Here</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

{% endblock %}
