{% extends 'base.html' %}

{% load static %}

{% block content %}

  <!-- Main Content
  ========================================-->
  <main class="entry-main">

    <section class="team__style-2" id="team">
      <div class="container">
        <div class="section-title style-gradient wow fadeInUp mt-100" data-wow-duration="1s"
             data-wow-delay="0s">
          <h2>
            Team
          </h2>
          <span><span></span></span>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="team-member wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
              <div class="team-member-content">
                <div class="member-pic">
                  <img alt="Pedro Muñoz" src="/static/img/team/pedro_gray.jpg" class="img-responsive">
                </div>
                <div class="member-info">
                  <div class="info-content">
                    <div class="name-career">
                      <h4>Pedro Muñoz</h4>
                      <span>🔬 Data Scientist | 🏢 Big Data Architect | 🤖 Machine Learning Engineer</span>
                    </div>
                    <ul class="list-inline list-unstyled member-social">
                      <li>
                        <a href="https://twitter.com/pedro_munoz_" target="_blank"><i
                            class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/in/pedro-munoz-botas" target="_blank">
                          <i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="team-member wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="team-member-content">
                <div class="member-pic">

                  <img alt="David Cañones" src="/static/img/team/david_gray.jpg" class="img-responsive">
                </div>
                <div class="member-info">
                  <div class="info-content">
                    <div class="name-career">
                      <h4>David Adrián Cañones</h4>
                      <span>🔬 Data Scientist | 🤖 Machine Learning Engineer | 💹 MBA</span>
                    </div>
                    <ul class="list-inline list-unstyled member-social">
                      <li>
                        <a href="https://twitter.com/dcanones" target="_blank"><i
                            class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/in/davidadrian" target="_blank">
                          <i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}
